In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/gerry/bin/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/02/25 11:00:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [47]:
FILE = '../../de_bootcamp/week5/data/raw/fhvhv/2021/02/fhvhv_tripdata_2021-02.csv'
TARGET_DIR= '../../de_bootcamp/week5/data/parquet/'

In [10]:
from pyspark.sql import types

In [45]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [48]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv(FILE)

In [49]:
df = df.repartition(24)

In [50]:
df.write.parquet(f'{TARGET_DIR}test', mode='overwrite')

In [53]:
df = spark.read.parquet(f'{TARGET_DIR}test')

In [54]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02887|2021-02-06 01:18:35|2021-02-06 01:40:34|         163|         235|   null|
|           HV0005|              B02510|2021-02-05 07:13:06|2021-02-05 07:31:56|         225|         181|   null|
|           HV0003|              B02869|2021-02-04 16:56:52|2021-02-04 17:21:36|         260|          95|   null|
|           HV0003|              B02871|2021-02-03 18:34:17|2021-02-03 18:57:12|         235|          60|   null|
|           HV0003|              B02869|2021-02-04 07:25:09|2021-02-04 07:30:34|          55|          55|   null|
|           HV0003|              B02836|2021-02-04 23:15:27|2021-02-04 23:34:29|          74|          81|   null|
|           HV0003|              B02882|2021-02-05 07:45:49|2021-02-05 08:05:03|         239|         231|   null|
|           HV0003|              B02887|2021-02-03 17:33:59|2021-02-03 17:47:14|          95|         196|   null|
|           HV0003|              B02877|2021-02-03 09:33:06|2021-02-03 09:45:59|         241|         265|   null|
|           HV0003|              B02872|2021-02-02 12:58:46|2021-02-02 13:06:20|          90|         137|   null|
|           HV0003|              B02764|2021-02-05 22:25:20|2021-02-05 22:28:27|           7|           7|   null|
|           HV0003|              B02882|2021-02-04 19:57:44|2021-02-04 20:05:24|         231|         246|   null|
|           HV0003|              B02764|2021-02-02 08:43:57|2021-02-02 08:53:46|         108|          29|   null|
|           HV0003|              B02866|2021-02-04 05:51:50|2021-02-04 06:21:25|          11|         112|   null|
|           HV0003|              B02882|2021-02-05 16:13:02|2021-02-05 16:27:48|         229|         234|   null|
|           HV0005|              B02510|2021-02-04 17:15:28|2021-02-04 17:24:46|          10|         218|   null|
|           HV0003|              B02617|2021-02-04 09:59:58|2021-02-04 10:29:13|          49|         232|   null|
|           HV0005|              B02510|2021-02-05 23:34:27|2021-02-05 23:51:05|         125|          17|   null|
|           HV0003|              B02875|2021-02-05 20:52:58|2021-02-05 21:19:59|          47|          68|   null|
|           HV0003|              B02875|2021-02-04 18:11:00|2021-02-04 18:37:24|          41|         223|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [18]:
df.groupBy('dispatching_base_num').count().orderBy('count', ascending = False).show()

+--------------------+-------+
|dispatching_base_num|  count|
+--------------------+-------+
|              B02510|3233664|
|              B02764| 965568|
|              B02872| 882689|
|              B02875| 685390|
|              B02765| 559768|
|              B02869| 429720|
|              B02887| 322331|
|              B02871| 312364|
|              B02864| 311603|
|              B02866| 311089|
|              B02878| 305185|
|              B02682| 303255|
|              B02617| 274510|
|              B02883| 251617|
|              B02884| 244963|
|              B02882| 232173|
|              B02876| 215693|
|              B02879| 210137|
|              B02867| 200530|
|              B02877| 198938|
+--------------------+-------+
only showing top 20 rows

In [24]:
z_file = '../../de_bootcamp/week5/data/taxi+_zone_lookup.csv'
target_zones =  '../../de_bootcamp/week5/data/parquet/zones'

In [25]:
zone_schema = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True),
    types.StructField('Borough', types.StringType(), True),
    types.StructField('Zone', types.StringType(), True),
    types.StructField('service_zone', types.StringType(), True)
])

In [28]:
df_zones = spark.read.option("header", "true").schema(zone_schema).csv(z_file)

In [29]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [30]:
df_zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [31]:
df_zones= df_zones.repartition(24)

In [32]:
df_zones = df_zones.write.parquet(target_zones)

In [34]:
df_z = spark.read.parquet(target_zones)

In [35]:
df_z.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|       127|    Manhattan|              Inwood|   Boro Zone|
|       206|Staten Island|Saint George/New ...|   Boro Zone|
|        62|     Brooklyn| Crown Heights South|   Boro Zone|
|       186|    Manhattan|Penn Station/Madi...| Yellow Zone|
|       244|    Manhattan|Washington Height...|   Boro Zone|
|       110|Staten Island|    Great Kills Park|   Boro Zone|
|       122|       Queens|              Hollis|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|       238|    Manhattan|Upper West Side N...| Yellow Zone|
|        77|     Brooklyn|East New York/Pen...|   Boro Zone|
|       131|       Queens|     Jamaica Estates|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|       190|     Brooklyn|       Prospect Park|   Boro Zone|
|        21|     Brooklyn|    Bensonhurst East|   Boro Zone|
|       207|       Queens|Saint Michaels Ce...|   Boro Zone|
|       141|    Manhattan|     Lenox Hill West| Yellow Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|       129|       Queens|     Jackson Heights|   Boro Zone|
|       157|       Queens|             Maspeth|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [36]:
df_z.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [60]:
from pyspark.sql.functions import concat,col, concat_ws

In [63]:
df2=df.select(concat_ws('/',df.PULocationID,df.DOLocationID).alias("pair_loc"))

In [64]:
df2.show()

+--------+
|pair_loc|
+--------+
| 163/235|
| 225/181|
|  260/95|
|  235/60|
|   55/55|
|   74/81|
| 239/231|
|  95/196|
| 241/265|
|  90/137|
|     7/7|
| 231/246|
|  108/29|
|  11/112|
| 229/234|
|  10/218|
|  49/232|
|  125/17|
|   47/68|
|  41/223|
+--------+
only showing top 20 rows

In [67]:
df.sort('PULocationID', 'DOLocationID').show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02875|2021-02-14 06:46:37|2021-02-14 06:49:47|           1|           1|   null|
|           HV0004|              B02800|2021-02-09 19:37:11|2021-02-09 20:10:00|           1|           4|   null|
|           HV0004|              B02800|2021-02-27 17:45:56|2021-02-27 18:31:31|           1|           4|   null|
|           HV0004|              B02800|2021-02-20 15:23:25|2021-02-20 16:00:14|           1|           4|   null|
|           HV0004|              B02800|2021-02-05 08:41:49|2021-02-05 09:17:19|           1|          14|   null|
|           HV0004|              B02800|2021-02-28 21:20:25|2021-02-28 21:45:57|           1|          14|   null|
|           HV0004|              B02800|2021-02-07 17:33:02|2021-02-07 18:04:11|           1|          24|   null|
|           HV0004|              B02800|2021-02-22 16:38:52|2021-02-22 17:20:20|           1|          25|   null|
|           HV0004|              B02800|2021-02-15 11:42:08|2021-02-15 12:18:43|           1|          25|   null|
|           HV0004|              B02800|2021-02-24 16:14:21|2021-02-24 17:07:26|           1|          25|   null|
|           HV0004|              B02800|2021-02-04 14:09:18|2021-02-04 14:38:53|           1|          25|   null|
|           HV0004|              B02800|2021-02-28 19:23:00|2021-02-28 20:03:26|           1|          33|   null|
|           HV0004|              B02800|2021-02-02 20:59:03|2021-02-02 21:38:49|           1|          36|   null|
|           HV0004|              B02800|2021-02-04 22:38:11|2021-02-04 23:29:03|           1|          36|   null|
|           HV0004|              B02800|2021-02-17 14:45:24|2021-02-17 15:45:01|           1|          41|   null|
|           HV0004|              B02800|2021-02-20 00:39:23|2021-02-20 01:22:08|           1|          41|   null|
|           HV0004|              B02800|2021-02-21 12:43:54|2021-02-21 13:17:39|           1|          42|   null|
|           HV0004|              B02800|2021-02-25 07:55:55|2021-02-25 08:43:36|           1|          42|   null|
|           HV0004|              B02800|2021-02-19 17:18:02|2021-02-19 17:59:10|           1|          42|   null|
|           HV0004|              B02800|2021-02-14 15:11:43|2021-02-14 15:39:38|           1|          45|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [71]:
df.groupBy('PULocationID' ).count().orderBy('count', ascending = False).show()

+------------+------+
|PULocationID| count|
+------------+------+
|          61|203777|
|          76|166959|
|          37|140636|
|          79|137901|
|          42|137246|
|          17|125394|
|         225|120026|
|          39|117751|
|         188|117734|
|          89|117092|
|         244|115590|
|           7|110787|
|         231|109074|
|          74|103440|
|         181|103267|
|          35|103059|
|         234| 96469|
|         170| 94307|
|         249| 93355|
|          75| 91517|
+------------+------+
only showing top 20 rows

In [72]:
df_result = df.join(df_z, df.PULocationID == df_z.LocationID)

In [73]:
df_result.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+----------+---------+--------------------+------------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|LocationID|  Borough|                Zone|service_zone|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+----------+---------+--------------------+------------+
|           HV0003|              B02887|2021-02-06 01:18:35|2021-02-06 01:40:34|         163|         235|   null|       163|Manhattan|       Midtown North| Yellow Zone|
|           HV0005|              B02510|2021-02-05 07:13:06|2021-02-05 07:31:56|         225|         181|   null|       225| Brooklyn|  Stuyvesant Heights|   Boro Zone|
|           HV0003|              B02869|2021-02-04 16:56:52|2021-02-04 17:21:36|         260|          95|   null|       260|   Queens|            Woodside|   Boro Zone|
|           HV0003|              B02871|2021-02-03 18:34:17|2021-02-03 18:57:12|         235|          60|   null|       235|    Bronx|University Height...|   Boro Zone|
|           HV0003|              B02869|2021-02-04 07:25:09|2021-02-04 07:30:34|          55|          55|   null|        55| Brooklyn|        Coney Island|   Boro Zone|
|           HV0003|              B02836|2021-02-04 23:15:27|2021-02-04 23:34:29|          74|          81|   null|        74|Manhattan|   East Harlem North|   Boro Zone|
|           HV0003|              B02882|2021-02-05 07:45:49|2021-02-05 08:05:03|         239|         231|   null|       239|Manhattan|Upper West Side S...| Yellow Zone|
|           HV0003|              B02887|2021-02-03 17:33:59|2021-02-03 17:47:14|          95|         196|   null|        95|   Queens|        Forest Hills|   Boro Zone|
|           HV0003|              B02877|2021-02-03 09:33:06|2021-02-03 09:45:59|         241|         265|   null|       241|    Bronx|Van Cortlandt Vil...|   Boro Zone|
|           HV0003|              B02872|2021-02-02 12:58:46|2021-02-02 13:06:20|          90|         137|   null|        90|Manhattan|            Flatiron| Yellow Zone|
|           HV0003|              B02764|2021-02-05 22:25:20|2021-02-05 22:28:27|           7|           7|   null|         7|   Queens|             Astoria|   Boro Zone|
|           HV0003|              B02882|2021-02-04 19:57:44|2021-02-04 20:05:24|         231|         246|   null|       231|Manhattan|TriBeCa/Civic Center| Yellow Zone|
|           HV0003|              B02764|2021-02-02 08:43:57|2021-02-02 08:53:46|         108|          29|   null|       108| Brooklyn|           Gravesend|   Boro Zone|
|           HV0003|              B02866|2021-02-04 05:51:50|2021-02-04 06:21:25|          11|         112|   null|        11| Brooklyn|          Bath Beach|   Boro Zone|
|           HV0003|              B02882|2021-02-05 16:13:02|2021-02-05 16:27:48|         229|         234|   null|       229|Manhattan|Sutton Place/Turt...| Yellow Zone|
|           HV0005|              B02510|2021-02-04 17:15:28|2021-02-04 17:24:46|          10|         218|   null|        10|   Queens|        Baisley Park|   Boro Zone|
|           HV0003|              B02617|2021-02-04 09:59:58|2021-02-04 10:29:13|          49|         232|   null|        49| Brooklyn|        Clinton Hill|   Boro Zone|
|           HV0005|              B02510|2021-02-05 23:34:27|2021-02-05 23:51:05|         125|          17|   null|       125|Manhattan|           Hudson Sq| Yellow Zone|
|           HV0003|              B02875|2021-02-05 20:52:58|2021-02-05 21:19:59|          47|          68|   null|        47|    Bronx|  Claremont/Bathgate|   Boro Zone|
|           HV0003|              B02875|2021-02-04 18:11:00|2021-02-04 18:37:24|          41|         223|   null|        41|Manhattan|      Central Harlem|   Boro Zone|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+----------+---------+--------------------+------------+
only showing top 20 rows

In [74]:
df_result = df_result.join(df_z, df_result.DOLocationID == df_z.LocationID)

In [82]:
df.registerTempTable('joined')

In [87]:
df_z.registerTempTable('zones')

In [88]:
df_result=spark.sql("""
SELECT 
*
FROM zones

""").show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|       127|    Manhattan|              Inwood|   Boro Zone|
|       206|Staten Island|Saint George/New ...|   Boro Zone|
|        62|     Brooklyn| Crown Heights South|   Boro Zone|
|       186|    Manhattan|Penn Station/Madi...| Yellow Zone|
|       244|    Manhattan|Washington Height...|   Boro Zone|
|       110|Staten Island|    Great Kills Park|   Boro Zone|
|       122|       Queens|              Hollis|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|       238|    Manhattan|Upper West Side N...| Yellow Zone|
|        77|     Brooklyn|East New York/Pen...|   Boro Zone|
|       131|       Queens|     Jamaica Estates|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|       190|     Brooklyn|       Prospect Park|   Boro Zone|
|        21|     Brooklyn|    Bensonhurst East|   Boro Zone|
|       207|       Queens|Saint Michaels Ce...|   Boro Zone|
|       141|    Manhattan|     Lenox Hill West| Yellow Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|       129|       Queens|     Jackson Heights|   Boro Zone|
|       157|       Queens|             Maspeth|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [92]:
df_result = spark.sql("""
SELECT 
t.PULocationID, t.DOLocationID,  p_z.Borough AS puBorough, p_z.Zone AS puZone, d_z.Borough AS doBorough , d_z.Zone AS doZone
FROM joined AS t
JOIN zones AS p_z ON p_z.LocationID = t.PULocationID
JOIN zones AS d_z ON p_z.LocationID = t.DOLocationID
""")

In [96]:
df_result.registerTempTable('result')

In [105]:
df_res2 = spark.sql("""
SELECT 
puZone, doZone,
count(*) AS cnt
FROM result 
GROUP BY  puZone, doZone
ORDER BY cnt DESC
""")

In [106]:
df_res2.show(truncate=False)

+-------------------+---------------------------------------------+------+
|puZone             |doZone                                       |cnt   |
+-------------------+---------------------------------------------+------+
|East New York      |Governor's Island/Ellis Island/Liberty Island|135123|
|Borough Park       |Governor's Island/Ellis Island/Liberty Island|111987|
|East New York      |Corona                                       |90082 |
|Canarsie           |Governor's Island/Ellis Island/Liberty Island|84078 |
|Crown Heights North|Governor's Island/Ellis Island/Liberty Island|77928 |
|Borough Park       |Corona                                       |74658 |
|Canarsie           |Corona                                       |56052 |
|Bay Ridge          |Governor's Island/Ellis Island/Liberty Island|53802 |
|Crown Heights North|Corona                                       |51952 |
|East New York      |Greenwich Village North                      |45041 |
|East New York      |Springfield Gardens South                    |45041 |
|East New York      |East New York                                |45041 |
|East New York      |DUMBO/Vinegar Hill                           |45041 |
|East New York      |Gramercy                                     |45041 |
|East New York      |Glendale                                     |45041 |
|East New York      |Allerton/Pelham Gardens                      |45041 |
|East New York      |Pelham Bay Park                              |45041 |
|East New York      |Elmhurst                                     |45041 |
|East New York      |Freshkills Park                              |45041 |
|East New York      |East Chelsea                                 |45041 |
+-------------------+---------------------------------------------+------+
only showing top 20 rows